@charset "UTF-8";
.titulo {
  color: #683c11;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center; }

.subtituloMenu {
  color: #683c11;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  display: flex;
  flex-direction: row;
  justify-content: center; }

/* MAPS POR SI AGREGO REACCIÓN EN ICONO "ME GUSTA":(CORAZÓN) "EXCELENTE SERVICIO": (ESTRELLA) */
.corazon {
  color: #b31826; }

.estrella {
  color: #f9d503; }

/* EXTEND POR SI DESEO CAMBIAR EL ESTILO DE LOS TEXTOS */
.estiloExtraUno, .estiloExtraDos {
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  text-align: center; }

.estiloExtraDos {
  font-size: 50px; }

/* MIXIN POR SI QUIERO CAMBIAR EL ESTILO DE LOS PARRAFOS */
.parrafosExtra {
  font-size: 20px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: left; }

* {
  padding: 0;
  margin: 0; }

header {
  /*background-color: #754c24;*/
  height: fit-content;
  grid-area: header; }

.logoEmpresa {
  width: 100px;
  height: 100px; }

/* NAVEGACIÓN */
.text-success:hover {
  background-color: #f39200;
  border-radius: 3px; }

.buscador {
  text-decoration: none; }

.nosotros {
  font-family: Arial, Helvetica, sans-serif;
  color: #f39200;
  text-align: center;
  padding: 10px;
  margin: 20px; }

/* BOX MODELLING */
.contenedorNosotros {
  background-color: #fcbe6b;
  background: linear-gradient(#fcbe6b, #fcb36b);
  padding: 20px;
  margin: 50px;
  font-family: Arial, Helvetica, sans-serif;
  color: #683c11;
  border-radius: 10px;
  grid-area: nosotros; }

.slide {
  width: 580px;
  height: 248px;
  margin: 0px 0px 70px 0px; }

/* FIXED */
.cajaUno {
  position: fixed;
  top: 0;
  right: 0;
  background-color: #5bbdb3;
  background: linear-gradient(#5bbdb3, #5bbd9b);
  width: 150px;
  height: 100px;
  padding: 20px 20px 20px 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: #683c11;
  border-radius: 0px 0px 10px 10px;
  text-decoration: none; }
  .cajaUno:hover {
    background: linear-gradient(#5bbdff, #5b83ff); }

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f39200;
  font-family: Arial, Helvetica, sans-serif;
  color: #683c11;
  font-size: smaller;
  text-align: center;
  padding: 10px;
  grid-area: footer; }

.facebook {
  text-decoration: none;
  color: #683c11;
  font-weight: bold; }

.instagram {
  text-decoration: none;
  color: #683c11;
  font-weight: bold; }
  .instagram:hover {
    color: magenta; }

body {
  background-image: url("../img/fondo.jpg"); }

/* ESTILO DESAYUNOS */
.inicioIndex {
  color: #f39200;
  font-family: Arial, Helvetica, sans-serif; }

.manteDesayunos {
  padding: 20px;
  margin: 10px;
  margin: 0px 0px 100px 0px; }

/* ESTILO ORDEN LLEVAR */
.contenedorContacto {
  width: 500px;
  height: 300px;
  padding: 30px;
  margin: 50px; }

.zonaMexico {
  font-family: Arial, Helvetica, sans-serif;
  color: #f39200;
  text-align: center; }

.mapaCiudad {
  padding: 20px;
  margin: 200px 0px 100px 0px; }

/* ESTILO MENÚ DEL DÍA */
.menuSeccion {
  color: #f39200;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center; }

.slide {
  width: 500px;
  height: 1132px;
  margin: 0px 0px 70px 0px; }

.promocionMes {
  grid-area: promoLunes; }

/* ESTILO COMIDAS */
.manteComida {
  padding: 20px;
  margin: 10px;
  margin: 0px 0px 100px 0px; }

/* MEDIA QUERIES INDEX */
/*  VERSIÓN TABLETA */
@media (min-width: 768px) {
  .gridPadre {
    display: grid;
    grid-template-areas: "header" "nosotros" "footer"; } }

/*  VERSIÓN ESCRITORIO */
@media (min-width: 1024px) {
  .gridPadre {
    display: grid;
    grid-template-areas: "header" "nosotros" "footer"; } }

/* MEDIA QUERIES INDEX */
/*  VERSIÓN TABLETA */
@media (min-width: 768px) {
  .padreDia {
    display: grid;
    grid-template-areas: "header" "lunes" "footer"; } }

/*  VERSIÓN ESCRITORIO */
@media (min-width: 1024px) {
  .gridPadre {
    display: grid;
    grid-template-areas: "header" "lunes" "footer"; } }
