/* MIXIN POR SI QUIERO CAMBIAR EL ESTILO DE LOS PARRAFOS */

@mixin parrafosMix {
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: left;
    
}

.parrafosExtra {
    @include parrafosMix;
}
